<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qrs.mapper.DishFlavorMapper">

<!--    &lt;!&ndash;添加菜品口味&ndash;&gt;-->
<!--    <insert id="addDishFlavor" parameterType="com.qrs.entity.DishFlavor">-->
<!--        INSERT INTO dish_flavor (dish_id, name, value) VALUES (#{dishId}, #{name}, #{value});-->
<!--    </insert>-->

    <!--批量添加菜品口味-->
    <insert id="insertBatch">
        INSERT INTO dish_flavor (dish_id, name, value) VALUES
        <foreach collection="flavors" item="dishFlavor" index="index" separator=",">
            (#{dishFlavor.dishId}, #{dishFlavor.name}, #{dishFlavor.value})
        </foreach>
    </insert>

    <!--根据菜品ID删除菜品口味-->
    <delete id="deleteDishFlavorByDishIds">
        DELETE FROM dish_flavor
        WHERE dish_id IN
        <foreach collection="ids" item="id" index="index" open="(" separator="," close=")">
            #{id}
        </foreach>
        <if test="ids == null or ids.size()==0">
            AND 1=0
        </if>
    </delete>
</mapper>